<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GibddFouls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
	<connectionStrings>
		<add name="DbConnect" providerName="MySql.Data.MySqlClient" connectionString="server=mysql16.hostland.ru;port=3306;database=host1608830_fouls;uid=host1608830_userfouls;password=userf0uls"/>
	</connectionStrings>
  </system.data><applicationSettings>
        <GibddFouls.Properties.Settings>
            <setting name="dbconnect" serializeAs="String">
                <value>server=mysql16.hostland.ru;port=3306;database=host1608830_fouls;uid=host1608830_userfouls;password=userf0uls</value>
            </setting>
        </GibddFouls.Properties.Settings>
    </applicationSettings>
</configuration>